<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart", "table"]});
      google.setOnLoadCallback(drawCharts);
      function drawCharts() {

        var pie_data = google.visualization.arrayToDataTable([
          ['Version', 'Instances'],
{% for version,count in stats.getStormVersions()|dictsort|reverse %}
          ['{{ version|e }} [{{ count }}]', {{ count|e }}],
{% endfor %}
        ]);

        var pie_options = {
          title: 'StoRM installed versions',
          pieHole: 0.4,
        };

        var pie_chart = new google.visualization.PieChart(document.getElementById('piechart'));

        pie_chart.draw(pie_data, pie_options);

        var table_data = new google.visualization.DataTable();
        table_data.addColumn('string', 'Domain');
        table_data.addColumn('string', 'Hostname');
        table_data.addColumn('string', 'Version');
        table_data.addColumn('string', 'WebDAV-URL');
        table_data.addColumn('string', 'WebDAV-Version');
        table_data.addColumn('string', 'SRM-URL');
        table_data.addColumn('string', 'SRM-Version');
        table_data.addColumn('string', 'Glue2');
        table_data.addColumn('string', 'Glue1');

        table_data.addRows([
{% for site in sites %}
  {% for host in site.getHosts() %}
    ["{{site.getName()}}", "{{host.getHostname()}}", "{{host.getVersion()}}",
    {% if host.getDAVEndpoint() is none %} , {% else %} "{{host.getDAVEndpoint().getURL()}}", "{{host.getDAVEndpoint().getVersion()}}" {% endif %},
    {% if host.getSRMEndpoint() is none %} , {% else %} "{{host.getSRMEndpoint().getURL()}}", "{{host.getSRMEndpoint().getVersion()}}" {% endif %},
    "{{host.isGlue2()}}", "{{host.isGlue1()}}"],
  {% endfor %}
{% endfor %}
        ]);

        var table_options = {
          showRowNumber: true,
          width: '100%',
          eight: '100%'
        }

        var table_chart = new google.visualization.Table(document.getElementById('tablechart'));

        table_chart.draw(table_data, table_options);

      }
    </script>
  </head>
  <body>
    <div id="tablechart" style="width: 100%; margin: 20px auto;"></div>
    <div id="piechart" style="width: 900px; height: 500px; margin: 20px auto;"></div>
  </body>
</html>
