<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart", "table"]});
      google.setOnLoadCallback(drawCharts);
      function drawCharts() {

        var pie_data = google.visualization.arrayToDataTable([
          ['Version', 'Instances'],
{% for version,count in versions.iteritems() %}
          ['{{ version|e }} [{{ count }}]', {{ count|e }}],
{% endfor %}
        ]);

        var pie_options = {
          title: 'StoRM installed versions',
          pieHole: 0.4,
        };

        var pie_chart = new google.visualization.PieChart(document.getElementById('piechart'));

        pie_chart.draw(pie_data, pie_options);

        var table_data = new google.visualization.DataTable();
        table_data.addColumn('string', 'Domain');
        table_data.addColumn('string', 'Hostname');
        table_data.addColumn('string', 'Version');
        table_data.addRows([
{% for domain,hostnames in domains.iteritems() %}
{% for hostname,version in hostnames.iteritems() %}
          ['{{domain}}', '{{hostname}}', '{{version}}' ],
{% endfor %}
{% endfor %}
        ]);

        var table_options = {
          showRowNumber: true,
          width: '100%',
          eight: '100%'
        }

        var table_chart = new google.visualization.Table(document.getElementById('tablechart'));

        table_chart.draw(table_data, table_options);

      }
    </script>
  </head>
  <body>
    <div id="tablechart" style="width: 900px; margin: 20px auto;"></div>
    <div id="piechart" style="width: 900px; height: 500px; margin: 20px auto;"></div>
  </body>
</html>
